body {
    font-family: New Romantics, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3e3737;
}

header {
    background-color: #5f110e;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1rem;
}

footer {
    background-color: #5f110e;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #4CAF50;
}
